@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Background & Foreground */
    --background: 228 50% 98%; /* #F8F9FD */
    --foreground: 193 9% 19%; /* #2D3436 */

    /* Cards */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 193 9% 19%; /* #2D3436 */

    /* Popovers (Dropdown, Tooltips) */
    --popover: 0 0% 100%;
    --popover-foreground: 193 9% 19%;

    /* Primary untuk Button & CTA) */
    --primary: 247 69% 64%; /* #6C5CE7 */
    --primary-foreground: 0 0% 100%; 

    /* Secondary untuk Badge & Aksesoris */
    --secondary: 29 100% 63%; /* #FF9F43 */
    --secondary-foreground: 0 0% 100%;

    /* Muted  */
    --muted: 214 32% 91%; /* #E2E8F0 */
    --muted-foreground: 215 16% 47%; /* #636E72 */

    /* Accents (Untuk efek hover di Sidebar) */
    --accent: 247 69% 96%; /* #F0EEFF */
    --accent-foreground: 247 69% 64%; /* #6C5CE7 */

    /* Sistem shadcn lainnya */
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%; /* #E2E8F0 */
    --input: 214 32% 91%; /* #E2E8F0 */
    --ring: 247 69% 64%; /* #6C5CE7 */
    --radius: 1rem; 
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply antialiased;
  }
}