@import "tailwindcss";

@theme {
  --font-sans: var(--font-jakarta), system-ui, sans-serif;
  
  /* Warna Kustom Sesuai Desain UI/UX */
  --color-indigo-base: #6366f1;
  --color-indigo-hover: #4f46e5;
  --color-indigo-soft: #e0e7ff;
  --color-indigo-mid: #818cf8;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}